*.iml
*.ipr
*.iws
*.msg
*.sw?
*/src/main/java/META-INF
.classpath
.gradle
.idea
.project
.settings
bin
build
nohup.out
derby.log
lib
logs
si.java.hsp
spring-integration-jms/activemq-data/
spring-integration-samples/loanshark/application.log*
target
build.log
.DS_Store
vf.gf.dmn-events.cfg
vf.gf.dmn-license.cfg
out