.gradle
.idea
.settings
.springBeans
build
derby.log
integration-repo
lib
logs
si.java.hsp
target
spring-integration-jms/activemq-data/
spring-integration-parent/.project
spring-integration-samples/loanshark/application.log*
*.iml
*/src/main/java/META-INF
