*.msg
*.iml
*.ipr
*.iws
*.sw?
*/src/main/java/META-INF
.classpath
.gradle
.project
.settings
build
derby.log
lib
logs
pom.xml
si.java.hsp
spring-integration-jms/activemq-data/
spring-integration-samples/loanshark/application.log*
target
.idea
