<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<book xmlns:xi="http://www.w3.org/2001/XInclude">
  <bookinfo>
    <title>Spring Integration Reference Manual</title>

    <productname>Spring Integration</productname>
    <releaseinfo>1.0.0.M6 (Milestone 6)</releaseinfo>

    <mediaobject>
      <imageobject role="fo">
        <imagedata align="center" fileref="images/logo.png" format="PNG"/>
      </imageobject>
      <imageobject role="html">
        <imagedata align="right" fileref="images/logo.png" format="PNG"/>
      </imageobject>
    </mediaobject>

    <authorgroup>
      <author>
        <firstname>Mark</firstname>
        <surname>Fisher</surname>
      </author>
      <author>
        <firstname>Marius</firstname>
        <surname>Bogoevici</surname>
      </author>
    </authorgroup>

    <legalnotice><para>&copy; SpringSource Inc., 2008</para></legalnotice>
  </bookinfo>

  <toc></toc>

  <xi:include href="./overview.xml"/>
  <xi:include href="./core-api.xml"/>
  <xi:include href="./adapters.xml"/>
  <xi:include href="./configuration.xml"/>
  <xi:include href="./samples.xml"/>
  <xi:include href="./resources.xml"/>

</book>