<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<book xmlns:xi="http://www.w3.org/2001/XInclude">
  <bookinfo>
    <title>Spring Integration Reference Manual</title>

    <productname>Spring Integration</productname>
    <releaseinfo>1.0.0.RC1 (Release Candidate 1)</releaseinfo>

    <mediaobject>
      <imageobject role="fo">
        <imagedata align="center" fileref="images/logo.png" format="PNG"/>
      </imageobject>
      <imageobject role="html">
        <imagedata align="right" fileref="images/logo.png" format="PNG"/>
      </imageobject>
    </mediaobject>

    <authorgroup>
      <author>
        <firstname>Mark</firstname>
        <surname>Fisher</surname>
      </author>
      <author>
        <firstname>Marius</firstname>
        <surname>Bogoevici</surname>
      </author>
      <author>
        <firstname>Iwein</firstname>
        <surname>Fuld</surname>
      </author>
        <author>
        <firstname>Jonas</firstname>
        <surname>Partner</surname>
      </author>
    </authorgroup>

    <legalnotice><para>&copy; SpringSource Inc., 2008</para></legalnotice>
  </bookinfo>

  <toc></toc>

  <xi:include href="./overview.xml"/>
  <xi:include href="./message.xml"/>
  <xi:include href="./channel.xml"/>
  <xi:include href="./endpoint.xml"/>
  <xi:include href="./router.xml"/>
  <xi:include href="./transformation.xml"/>
  <xi:include href="./splitter.xml"/>
  <xi:include href="./aggregator.xml"/>
  <xi:include href="./resequencer.xml"/>
  <xi:include href="./adapters.xml"/>
  <xi:include href="./file.xml"/> 
  <xi:include href="./jms.xml"/>
  <xi:include href="./rmi.xml"/>
  <xi:include href="./httpinvoker.xml"/>
  <xi:include href="./mail.xml"/>
  <xi:include href="./stream.xml"/>
  <xi:include href="./event.xml"/> 
  <xi:include href="./xml.xml"/>
  <xi:include href="./security.xml"/>
  <xi:include href="./samples.xml"/>
  <xi:include href="./namespaces.xml"/>
  <xi:include href="./resources.xml"/>

</book>