<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" 
"http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY overview SYSTEM "overview.xml">
<!ENTITY core-api SYSTEM "core-api.xml">
<!ENTITY adapters SYSTEM "adapters.xml">
<!ENTITY configuration SYSTEM "configuration.xml">
<!ENTITY samples SYSTEM "samples.xml">
<!ENTITY resources SYSTEM "resources.xml">
]>
<book>
  <bookinfo>
    <title>Spring Integration Reference Manual</title>

    <productname>Spring Integration</productname>
    <releaseinfo>1.0.0.M3 (Milestone 3)</releaseinfo>

    <mediaobject>
      <imageobject role="fo">
        <imagedata align="center" fileref="images/logo.png" format="PNG"/>
      </imageobject>
      <imageobject role="html">
        <imagedata align="right" fileref="images/logo.png" format="PNG"/>
      </imageobject>
    </mediaobject>

    <authorgroup>
      <author>
        <firstname>Mark</firstname>
        <surname>Fisher</surname>
      </author>
    </authorgroup>

    <legalnotice><para>&copy; SpringSource Inc., 2008</para></legalnotice>
  </bookinfo>

  <toc></toc>

  &overview;
  &core-api;
  &adapters;
  &configuration;
  &samples;
  &resources;

</book>