name: Deploy Docs

on:
  push:
    branches:
      - '*.x'
      - main
    tags:
      - '**'

  workflow_dispatch:

permissions:
  actions: write

jobs:
  dispatch-docs-build:
    if: github.repository_owner == 'spring-projects'
    uses: spring-io/spring-github-workflows/.github/workflows/spring-dispatch-docs-build.yml@main
